
/* HEADER */
header {
    position: fixed;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;
    padding: 0 25px
}

.netflixLogo {
    object-fit: cover;
    max-height: 100%;
    padding-left: 30px;
    padding-top: 0px;
    margin-right: 20px;
}

.netflixLogo img {
    height: 35px;
}

#logo {
    color: #E50914;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 10px;
}

.main-nav a:hover {
    color: var(--dark);
}

.sub-nav {
    padding: 0 40px 0 40px;
}

.sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
}

.sub-nav a:hover {
    color: var(--dark);
}


.search-input{
    background-color: var(--primary);
    box-shadow: none;
    border: 1px solid white;
    border-radius: none;
    padding: 5px 40px;
    color: white;
    font-size: 20px;
}

.cross-search{
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 20px;
    cursor: pointer;
}

.search-button{
    background-color: var(--primary);
    color: white;
    border: none;
    position: absolute;
    top: 7px;
    left: 5px;
}

.image-profile{
    height: 50px;
    width: 50px;
}